name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build & test (Maven verify + JaCoCo)
        run: mvn -B -ntp -f application/pom.xml verify

      - name: Check JaCoCo XML exists
        run: ls -la application/target/site/jacoco/jacoco.xml

      - name: SonarCloud analysis (imports JaCoCo coverage)
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: mvn -B -ntp -f application/pom.xml sonar:sonar \
          -Dsonar.organization=antonio-caiazzo \
          -Dsonar.projectKey=Antonio-Caiazzo_CineNow-Software-Dependability \
          -Dsonar.host.url=https://sonarcloud.io \
          -Dsonar.token=${{ secrets.SONAR_TOKEN }} \
          -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml

      - name: Mutation testing with PIT
        run: mvn -B -ntp -f application/pom.xml org.pitest:pitest-maven:mutationCoverage

      - name: Upload JaCoCo coverage report
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: application/target/site/jacoco

      - name: Upload PIT mutation testing report
        uses: actions/upload-artifact@v4
        with:
          name: pit-report
          path: application/target/pit-reports

      - name: Build Docker image
        run: docker build application --file application/Dockerfile --tag cinenow:${{ github.sha }}
